.facebookIcon {
  font-size: 25px;
}

.socialIcons {
  justify-content: flex-start;
  display: flex;
}


.socialIcon {
  width: 40px !important;
}

.creatorProfileImage {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 25px;
}

.creatorInfoCard {
  max-width: 375px;
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 10px;
}

.creatorBioCard {
  margin: 0;
  height: 100%;
  padding: 20px;
}

.contentCreatorPage {
  padding: 20px;
}

.contentCreatorContainer {
  display: flex;
  flex-wrap: wrap;
}

.creatorBioText p {
  line-height: 25px;
  font-size: 15px;
  padding: 20px 0px;
}

