.facebookIcon {
  font-size: 25px;
}

.socialIcons {
  justify-content: flex-start;
  display: flex;
}

.socialIcon {
  width: 40px !important;
}

.creatorProfileImage {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 25px;
}

.creatorInfoCard {
  width: 300px;
  margin: auto;
  flex: 0 0 30%;
  height: 450px;
  margin-left: 0;
  margin-top: 0;
  padding: 10px;
}

.creatorBioCard {
  margin: auto;
  width: 700px;
  padding: 20px;
  height: 450px;
}

.contentCreatorPage {
  padding: 20px;
}

.contentCreatorContainer {
  display: flex;
  flex-wrap: wrap;
}
