.dealPageCard {
  padding: 5px;
  max-width: 350px;
  margin: 0 auto;
  margin-top: 25px;
}

.dealPageCardContent {
  text-align: center !important;
}

.dealPageIcon {
  margin-bottom: 10px;
}

.dealImage {
  max-width: 400px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.dealDeal {
  color: #E52328;
  font-size: 1.7em !important;
}

.dealPerk {
  color: #E52328;
  font-size: 1.3em !important;
}

.dealPageInstructions {
  font-size: 0.8em !important;
}

.dealPageDisclaimerContainer {
  margin-top: 10px;
}
.dealPageDisclaimers {
  font-size: 0.8em !important;
}

.dealDealCard {
  padding: 10px;
}
