.sliderSingleImage {

}

.imageSlider {
  --width: 900px;
  --height: 100%;
}

.reviewPhotoThumbnail {
  --size: 250px;
  cursor: pointer;
}

@media only screen and (max-width: 1440px) {
  .reviewPhotoThumbnail {
    --size: 150px;
  }
}
@media only screen and (max-width: 900px) {
  .reviewPhotoThumbnail {
    --size: 100px;
  }
}

@media only screen and (max-width: 426px) {
  .reviewPhotoThumbnail {
    --size: 75px;
  }
}
