.dateTimeFieldLabelIcon {
  font-size: 1.5em;
  margin-right: 10px;
  vertical-align: bottom;
  color: #E52328 !important;
 }

.dateTimeFieldLabelText {
  padding-bottom: 5px;
 }

.dateTimeModalCloseButton {
  width: 320px;
  margin: auto;
  margin-top: 40px;
}

.dateTimeComponent {
  margin: auto;
}

.dateTimeInputField {
  margin-top: 10px;
}

ion-popover {
  --offset-y: 0 !important;
}
.dateTimeModalContainer {
  padding: 60px;
  padding-bottom: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 700px) {
  .dateTimeModalContainer {
    padding: 30px;
  }
}



